/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.modern-angular-dark-mode, .modern-angular-dark-mode *));

@layer base {
  body {
    overflow: hidden;
  }
}

@layer components {
  /* p-menubar */
  div:has(> a.p-menubar-item-link-active) {
    background: var(--p-highlight-background);
    color: var(--p-highlight-color);
  }
}

@layer utilities {
  .auth-form {
    background: transparent linear-gradient(133deg, #222d5466, #222d5429) 0% 0% no-repeat
      padding-box;
    box-shadow: 16px 16px 50px #00000029;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }
}
